<manifest xmlns:android="http://schemas.android.com/apk/res/android">

  <uses-permission android:name="android.permission.INTERNET" />

  <application
    android:name=".MainApplication"
    android:label="@string/app_name"
    android:icon="@mipmap/ic_launcher"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:allowBackup="false"
    android:theme="@style/AppTheme">
    <activity
      android:name=".MainActivity"
      android:label="@string/app_name"
      android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode"
      android:launchMode="singleTask"
      android:windowSoftInputMode="adjustResize"
      android:exported="true">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
      <intent-filter>
        <action android:name="android.intent.action.SEND" />
        <category android:name="android.intent.category.DEFAULT" />
        <data android:mimeType="text/plain" />
      </intent-filter>
    </activity>
  </application>

  <queries>
    <package android:name="com.google.android.youtube" />
    <package android:name="pt.sibs.android.mpos.sibsPagamentosQly" />
    <package android:name="pt.sibs.android.mpos.sibsPagamentosQly.MainActivity" />
    <package android:name="pt.sibs.android.mpos.activities.SplashScreenActivity" />
    <package android:name="pt.sibs.android.mpos.sibsPagamentosQLY.NexGo" />
    <package android:name="com.opencameraexample" />


  </queries>
</manifest>